body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blanchedalmond;
}
h1 {
  font-family:monospace;
}

#gridContainer {
  display: grid;
  height: 640px;
  width: 640px;
  grid-template-columns: repeat(var(--gridcolumns), 1fr);
  grid-template-rows: repeat(var(--gridrows), 1fr);
  grid-gap: 1px;
  border: 2px black solid;
}
.gridCell {
  border: 1px black solid;
  background-color: white;
}

button {
  margin: 1em;
  background-color: lightgray;
  border: none;
  color: black;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  border: 1px black solid;
  font-family:monospace;
  font-size: 1em;
}
