#gridContainer {
  display: grid;
  height: 640px;
  width: 640px;
  grid-template-columns: repeat(auto-fit, 40px);
  grid-template-rows: repeat(auto-fit, 40px);
  outline: 1px red dotted;
}
.gridCell {
  outline: 1px blue solid;
}
