:root {
  --gridcolumns: 16;
  --gridrows: 16;
}

#gridContainer {
  display: grid;
  height: 640px;
  width: 640px;
  grid-template-columns: repeat(var(--gridcolumns), 1fr);
  grid-template-rows: repeat(var(--gridrows), 1fr);
  outline: 1px red dotted;
}
.gridCell {
  outline: 0.2px grey solid;
}
